:root {
    /*COLOR PALETTE*/
    --white: #F6F6F6;
    --light-cyan: #E0FBFC;
    --blue: #3D5A80;
    --dark-blue: #293241;
    --dark-gray: #0A0E14;
    --orange: #EE6C4D;
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: 'Montserrat', sans-serif;
    background-color: var(--white);

    margin: 0;
    width: 100%;
}

a,
a:visited {
    text-decoration: none;
}

/*******************NAVBAR********************/
nav {
    background: var(--orange);
    height: 64px;
    width: 100%;

    display: flex;
    flex-direction: row;
    align-items: center;
    /*position: sticky;*/
    top: 0;
    z-index: 9999;
}

label.logo {
    margin: 0 auto 0 200px;
}

label.logo img {
    width: 40px;
}

#menu {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    margin: 0 20px;
    padding: 0;
}

nav ul li {
    display: inline-block;
    line-height: 16px;
    margin: 0 5px;
}

nav ul li a {
    color: var(--dark-blue);
    font-size: 16px;
    font-weight: 800;
    padding: 0 15px;

    text-transform: uppercase;
}

nav a.active,
nav a:hover {
    color: var(--light-cyan);
    text-decoration: underline;
}

nav a:hover {
    transition: .5s;
}

nav .cart svg {
    height: 30px;
    margin: 0 200px 0 0;
    fill: var(--dark-blue);
}

nav .cart:hover svg {
    fill: var(--light-cyan);
    transition: .5s;
}

.checkbtn {
    font-size: 30px;
    color: var(--dark-blue);
    line-height: 64px;
    margin-right: 50px;
    cursor: pointer;
    display: none;
}



/*******************END OF NAVBAR********************/

.main-page {
    width: 100%;
    position: absolute;
    z-index: -1;
}

/*******************BANNER SECTION********************/

.banner-section {
    width: 100%;
    height: auto;
    margin: 0;
    top: 0;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;

    transition: all .4s ease;
}

.banner-img {
    width: 100%;
    object-fit: cover;

    transition: all .4s ease;
}

.banner-section h1 {
    font-family: 'Montserrat', sans-serif;
    font-size: 96px;
    font-weight: 800;
    text-align: center;
    color: var(--orange);

    margin: 275px 0 20px 0;
    position: absolute;

    transition: all .4s ease;
}

.banner-section h1 span {
    color: var(--light-cyan);
}

.banner-section h2 {
    font-family: 'Montserrat', sans-serif;
    font-size: 24px;
    font-weight: 800;
    text-align: center;
    position: absolute;
    color: var(--white);
    margin: 400px 0 0 0;

    transition: all .4s ease;
}

.scroll-to-main-btn {
    width: 200px;
    position: absolute;
    margin: auto;
    top: 800px;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.scroll-to-main-btn span {
    font-family: 'Montserrat', sans-serif;
    font-size: 14px;
    font-weight: 800;
    text-align: center;
    color: var(--light-cyan);
    padding-bottom: 5px;
}

.arrow-down {
    width: 30px;
    height: 30px;
    rotate: 90deg;
    filter: invert(1);
}

.arrow-down-left {
    width: 30px;
    height: 30px;
    rotate: 90deg;
    filter: hue-rotate(200deg);

    display: none;
}

#st-main {
    width: 100%;
}

/*******************END OF BANNER SECTION********************/


/*******************FEATURE SECTION********************/

.feature-section {
    width: 100%;
    background-color: var(--dark-blue);
    margin: 0;

    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}

#section-title {
    font-family: 'Montserrat', sans-serif;
    font-size: 36px;
    font-weight: 800;
    color: var(--white);
    margin: 70px 0 0 0;

    transition: all .4s ease;
}

.feature-row {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;

    width: 850px;
    margin: 50px 0 0 0;

    transition: all .4s ease;
}

.item {
    width: 250px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;

    transition: all .4s ease;
}

.item:hover {
    background-color: var(--blue);
}

.item img {
    width: 250px;
    height: 250px;
    background-color: var(--orange);
}

.item-name {
    width: 230px;
    height: 22px;
    text-align: center;
    font-family: 'Montserrat', sans-serif;
    font-size: 18px;
    font-weight: 800;
    color: var(--white);
    margin: 20px 0 0 0;
    overflow-x: hidden;
    white-space: nowrap;
}

.item:hover .item-name {
    overflow-x: visible;

    animation: marquee 3s linear infinite;
    animation-delay: .5s;

    transition: all 0.1s ease;
}


#not-marquee {
    animation: none;
}

.item:hover {
    -webkit-mask: linear-gradient(to left, rgba(255, 255, 255, 0) 0%,
            rgba(255, 255, 255, 1) 0%,
            rgba(255, 255, 255, 1) 100%,
            rgba(255, 255, 255, 0) 100%);
}

@keyframes marquee {
    0% {
        transform: translateX(0%);
    }

    100% {
        transform: translateX(-75%);
    }
}


.item:hover .item-name::-webkit-scrollbar {
    display: none;
}

.item-price {
    font-family: 'Montserrat', sans-serif;
    font-size: 14px;
    font-weight: 400;
    color: var(--white);
    margin: 10px 0 20px 0;
    text-align: center;
}

.feature-blog {
    width: 400px;
    height: 225px;

    display: flex;
    justify-content: center;
    align-items: center;

    transition: all .4s ease-in-out;
}

.feature-blog:hover .feature-blog-title {
    width: 400px;
    height: 225px;
    background-color: #3d5a80ca;

    display: flex;
    align-items: center;
    justify-content: center;
    opacity: 1;

    transition: all .4s ease;
}

.feature-blog img {
    width: 400px;
    height: auto;
}

.feature-blog-title {
    font-family: 'Montserrat', sans-serif;
    font-size: 18px;
    font-weight: 800;
    color: var(--white);
    position: absolute;
    opacity: 0;

    text-align: center;
}

.button {
    width: 200px;
    height: 40px;
    background-color: var(--light-cyan);
    border-radius: 10px;
    margin: 50px 0 70px 0;

    display: flex;
    align-items: center;
    justify-content: center;

    transition: all .4s ease;
}

.button:hover {
    background-color: var(--orange);
    cursor: pointer;
}

.button p {
    font-family: 'Montserrat', sans-serif;
    font-size: 18px;
    font-weight: 800;
    color: var(--dark-blue);
}

#feature-blog-btn {
    margin: 70px 0 70px 0;
}

/*******************END OF FEATURE SECTION********************/

/*******************FOOTER SECTION********************/

.footer {
    width: 100%;
    height: 150px;
    background-color: var(--light-cyan);

    display: flex;
}

.footer-column {
    width: 300px;
    height: 120px;
    margin: 25px 0 0 200px;

    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: flex-start;

    transition: all .4s ease;
}

.footer h1 {
    font-family: 'Montserrat', sans-serif;
    font-size: 36px;
    font-weight: 800;
    color: var(--orange);
    margin: 0;

    transition: all .4s ease;
}

.footer h1 span {
    color: var(--dark-blue);
}

.footer h2 {
    font-family: 'Montserrat', sans-serif;
    font-size: 11px;
    font-weight: 400;
    color: var(--dark-blue);
    margin: 0 0 22px 0;

    transition: all .4s ease;
}

.footer .footer-contact {
    width: 90px;
    height: 20px;

    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.footer img {
    width: 20px;
    height: 20px;
}

.footer-nav {
    font-family: 'Montserrat', sans-serif;
    font-size: 14px;
    font-weight: 400;
    color: var(--dark-blue);
    margin: 5px 0 0 50px;

    transition: all .4s ease;
}


/**SUBFOOTER**/

.subfooter{
    width: 100%;
    height: 22px;
    background-color: #b7d0df;

    display: flex;
    justify-content: center;
    align-items: center;
}

.subfooter p{
    font-family: 'Montserrat', sans-serif;
    font-size: 11px;
    line-height: 11px;
    font-weight: 400;
    color: var(--dark-gray);
    margin: 0;
    text-align: center;
}

.subfooter br{
    display: none;
}

/*******************END OF FOOTER SECTION********************/

/*******************ABOUT PAGE********************/
.about-section{
    width: 100%;
    min-height: 80vh;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    background-color: var(--dark-blue);
}

.about-section h1 {
    font-family: 'Montserrat', sans-serif;
    font-size: 96px;
    font-weight: 800;
    text-align: center;
    color: var(--orange);
    line-height: 96px;

    margin: 200px 0 0 0;

    transition: all .4s ease;
}

.about-section h1 span {
    color: var(--light-cyan);
}

.about-section h2 {
    font-family: 'Montserrat', sans-serif;
    font-size: 18px;
    font-weight: 800;
    text-align: center;
    color: var(--white);
    margin: 40px 0 0 0;

    transition: all .4s ease;
}

.about-section p{
    font-family: 'Montserrat', sans-serif;
    width: 900px;
    font-size: 18px;
    font-weight: 400;
    text-align: center;
    color: var(--white);
    margin: 30px 0 50px 0;

    transition: all .4s ease;
}

/*******************END OF ABOUT PAGE********************/

/*******************CONTACT PAGE********************/
.contact-section{
    width: 100%;
    min-height: 80vh;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    background-color: var(--dark-blue);
}

.contact-section h1 {
    font-family: 'Montserrat', sans-serif;
    font-size: 36px;
    font-weight: 800;
    text-align: center;
    color: var(--white);
    line-height: 36px;

    margin: 200px 0 0 0;

    transition: all .4s ease;
}

.contact-section h2 {
    font-family: 'Montserrat', sans-serif;
    font-size: 24px;
    font-weight: 400;
    text-align: center;
    color: var(--white);
    margin: 40px 0 0 0;

    transition: all .4s ease;
}

.contact-section h2 br{
    display: none;
}

.contact-row{
    width: 900px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

    margin: 20px 0 0 0;

    transition: all .4s ease;
}

.contact-info-block{
    width: 250px;
    height: 200px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    transition: all .1s ease;
}

.contact-info-block:hover {
    background-color: #3D5A80;

    transition: all .4s ease;
}

.contact-section img{
    width: 60px;
    transition: all .4s ease;
}

.contact-section .contact-info-title{
    font-family: 'Montserrat', sans-serif;
    font-size: 18px;
    font-weight: 800;
    text-align: center;
    color: var(--white);
    margin: 20px 0 0 0;

    transition: all .4s ease;
}

.contact-section .contact-info{
    font-family: 'Montserrat', sans-serif;
    font-size: 14px;
    font-weight: 400;
    text-align: center;
    color: var(--white);
    margin: 20px 0 0 0;

    transition: all .4s ease;
}

/*******************END OF CONTACT PAGE********************/

/*******************SHOP PAGE********************/

.shop-section {
    width: 100%;
    background-color: var(--dark-blue);
    margin: 0;

    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}

#section-description {
    font-family: 'Montserrat', sans-serif;
    font-size: 18px;
    font-weight: 800;
    color: var(--white);
    margin: 10px 0 100px 0;
    text-align: center;

    transition: all .4s ease;
}

.shop-row {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    margin: 0 0 30px 0;

    width: 850px;

    transition: all .4s ease;
}

.shop-section .button{
    margin: 0 0 30px 0;
}


#not-marquee-1,
#not-marquee-2,
#not-marquee-3,
#not-marquee-4,
#not-marquee-5 {
    animation: none;
}

.section-margin-bot{
    margin-bottom: 50px;
}

/*******************END OF SHOP PAGE********************/

/*******************ITEM PAGE********************/

.item-section {
    width: 100%;
    min-height: 80vh;
    background-color: var(--dark-blue);
    margin: 0;

    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}

.back-to-shop{
    color: var(--white);
    margin: 70px 0 40px 0;
    width: 900px;

    transition: all .4s ease;
}

.back-to-shop a{
    font-family: 'Montserrat', sans-serif;
    font-size: 18px;
    line-height: 18px;
    font-weight: 800;
    color: var(--white);
    text-align: left;

    transition: all .4s ease;
}

.back-to-shop::before{
    font-size: 24px;
    font-weight: 400;
    line-height: 0px;
    content: "\2039";
}

.back-to-shop a:hover{
    text-decoration: underline;
}

.item-row{
    width: 900px;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;

    transition: all .4s ease;
}

.item-row .item {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;

    margin: 0 0 0 40px;

    transition: all .4s ease;
}

.item-row img {
    transition: all .4s ease;
}

.item-row .item:hover {
    background-color: transparent;
}

.item-row .item-name {
    height: auto;
    text-align: left;
    font-family: 'Montserrat', sans-serif;
    color: var(--white);
    
    overflow-x: visible;
    white-space: normal;
}

.item:hover #page-item-name {
    animation: none;
}

.item-section .button{
    margin: 0;
}

.item-desc-list{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;

    margin: 0 0 0 200px;

    transition: all .4s ease;
}

.item-desc-list h2{
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
    font-weight: 800;
    color: var(--white);
    margin: 15px 0 15px 0;
}

.item-desc-list p, .item-desc-list ul{
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
    font-weight: 400;
    color: var(--white);
}

.item-desc-list p{
    padding-left: 20px;
    margin: 0 0 30px 0;
}

.item-desc-list ul{
    margin: 0 0 30px 0;
}


/*******************END OF ITEM PAGE********************/

/*******************BLOGS PAGE********************/

.blogs-main-section {
    width: 100%;
    background-color: var(--dark-blue);
    margin: 0;

    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}

.blogs-main-section #section-description{
    margin: 10px 0 60px 0;
}

.text-left{
    text-align: left;
    width: 900px;

    transition: all .4s ease;
}

.mfb-texts{
    padding: 40px;
}

.blogs-main-section h5{
    font-family: 'Montserrat', sans-serif;
    font-size: 24px;
    font-weight: 800;

    margin: 0 0 0 0;
}

.main-featured-blogs h5{
    color: var(--white);
}

.blogs-main-section p{
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
    font-weight: 400;
    color: var(--white);
    transition: all .4s ease;
    margin: 7px 0 0 0;
}

.main-featured-blogs{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}

.mfb-row{
    width: 900px;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-start;

    margin: 0 0 20px 0;
    transition: all .4s ease;
}

.mfb-row:hover{
    background-color: var(--blue);
    transition: all .3s ease;
}

.mfb-row img{
    width: 360px;
    height: 160px;
    object-fit: cover;
    margin: 20px 0 20px 20px;
    transition: all .4s ease;
}

.mfb-texts{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
}

.main-blogs-list{
    width: 900px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;

    transition: all .4s ease;
}

.main-blogs-list h5{
    color: #98C1D9;
    text-decoration: none;
}

.main-blogs-list h5:hover{
    color: var(--orange);
    text-decoration: underline;

    transition: all .2s ease;
}

.mbl-article{
    margin: 40px 0 0 0;
}

.line-separator{
    width: 900px;
    height: 2px;
    background-color: var(--white);
    transition: all .4s ease;
}

/*******************END OF BLOGS PAGE********************/

/*******************BLOG ARTICLE PAGE********************/

.article-section{
    width: 100%;
    background-color: var(--dark-blue);
    margin: 0;

    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}

.article-container{
    width: 900px;

    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;

    transition: all .4s ease;
}

.vlog{
    margin: 0 auto 40px auto;

    transition: all .4s ease;
}

.article-section h5{
    font-family: 'Montserrat', sans-serif;
    font-size: 24px;
    font-weight: 800;
    color: var(--white);

    margin: 30px 0;

    transition: all .4s ease;
}

.article-section p{
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
    font-weight: 400;
    color: var(--white);

    margin: 15px 0;
}

.forum-container{
    width: 900px;
    height: 442px;
    overflow-y: scroll;
    background-color: var(--white);

    transition: all .4s ease;
}

#disqus_thread{
    padding: 40px;

    transition: all .4s ease;
}

.article-section .button h7{
    font-family: 'Montserrat', sans-serif;
    font-size: 18px;
    font-weight: 800;
    color: var(--dark-blue);
}

/*******************END OF BLOG ARTICLE PAGE********************/

/*******************CART PAGE********************/

.cart-section{
    width: 100%;
    min-height: 80vh;
    background-color: var(--white);
    margin: 0;

    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}

.cart-container{
    width: 438px;
    /*height: 422px;*/
    background-color: var(--dark-blue);
    margin: 70px auto 0 auto;

    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;

    transition: all .4s ease;
}

.cart-row{
    width: 370px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;

    transition: all .4s ease;
}

.cart-section h5{
    font-family: 'Montserrat', sans-serif;
    font-size: 18px;
    font-weight: 800;
    color: var(--light-cyan);

    margin: 20px 0 0 0;
}

.edit{
    width: 20px;
    margin: 22px 0 0 0;

    transition: all .4s ease;
}

.edit:hover{
    cursor: pointer;
}

.cart-line{
    width: 400px;
    height: 2px;
    background-color: var(--white);
    margin: 15px auto;

    transition: all .4s ease;
}

.cart-item-img{
    width: 40px;
    margin: 0 20px 0 0;

    transition: all .4s ease;
}

.cart-item{
    font-family: 'Montserrat', sans-serif;
    font-size: 14px;
    font-weight: 800;
    color: var(--white);

    margin: 0 auto 0 0;

    transition: all .4s ease;
}

.cart-item span{
    font-weight: 400;
}

.cart-item-price{
    /*height: 40px;*/
    font-family: 'Montserrat', sans-serif;
    font-size: 14px;
    line-height: 14px;
    font-weight: 400;
    color: var(--white);

    margin: 26px 0 0 0;

    transition: all .4s ease;
}

.cart-sub{
    font-family: 'Montserrat', sans-serif;
    font-size: 14px;
    font-weight: 400;
    color: var(--white);

    margin: 10px 0;

    transition: all .4s ease;
}

.cart-total{
    font-family: 'Montserrat', sans-serif;
    font-size: 14px;
    font-weight: 800;
    color: var(--white);

    margin: 10px 0;

    transition: all .4s ease;
}

#cart-button{
    margin: 20px 0 30px 0;
}
/*******************END OF CART PAGE********************/